<h1>Tracked Brands</h1>

<table class="table table-striped">
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.id, brand_path(brand) %></td>
        <td><%= image_tag brand.logo(:thumb) %></td>
        <td><%= brand.name %></td>
        <td><%= brand.website %></td>
        <td>@<%= link_to brand.twitter_url, "https://twitter.com/#{brand.twitter_url}" %></td>
        <td><%= brand.facebook_url %></td>
        <td><%= brand.youtube_url %></td>
        <td><%= time_ago_in_words(brand.created_at) %> ago</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_brand_path(brand), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      brand_path(brand),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to delete this brand?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New brand', new_brand_path %>
